/* General */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    text-align: center;
    color: #333;
}

/* Navbar */
.navbar {
    background-color: #333;
    color: white;
}

.navbar a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #575757;
}

/* Forms */
form {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

input[type="text"], input[type="number"], input[type="email"], input[type="password"], input[type="submit"], input[type="tel"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* Buttons */
button {
    background-color: #333;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #575757;
}

/* Tables */
table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: white;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #333;
    color: white;
}

/* Footer */
.footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.social-icons a {
    text-decoration: none;
}
